/* Cookie confirm btn color */
.freeprivacypolicy-com---palette-light .cc-nb-okagree {
    background-color: #0e3f6c !important;
  }
  .freeprivacypolicy-com---palette-light .cc-nb-reject {
    background-color: #0e3f6c !important;
  }
  .freeprivacypolicy-com---palette-light .cc-nb-changep {
    background-color: #c4c4c4 !important;
    color: #111;
  }